#main{
	width: 615px;
	margin: auto;
}
body{
	background-color: #FFFF;
}
#header{
	width: 600px;
	height: 40px;
	text-align: center;
	font-family: monospace;
	margin-top: 40px;
}
.btn{
	background: none;
	border:none;
	outline: none;
}
.main h4{
	text-align: center;
}

#left{

	width: 150px;
	height: 600px;
	float: left;
	font-family: monospace;
}
.left h4{
	display: none;
}
#nhietdo{
	position: relative;
	height: 150px;
	width: 150px;
	text-align: center;
	margin-top: 40px;
	float: right;
	display: none;
}
#light{
	position: relative;
	height: 135px;
	width: 150px;
	text-align: center;
	margin-top: 180px;
	float: right;
	display: none;
}

#mid{
	width: 300px;
	height: 600px;
	text-align: center;
	font-family: monospace;
	float: left;
	margin-left: 15px;
}
#home1{
	position: relative;
	height: 230px;
	width: 260px;
	text-align: center;
	margin-top: 170px;
}

#right{

	width: 150px;
	height: 600px;
	font-family: monospace;
	float: left;
	display: none;
}

#other{
	position: relative;
	height: 150px;
	width: 150px;
	text-align: center;
	margin-top: 40px;
	float: right;
}

#cua{
	position: relative;
	height: 135px;
	width: 150px;
	text-align: center;
	margin-top: 180px;
	float: right;
}
#footer1{
	width: 630px;
	height: 410px;
	margin-top: 680px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	text-align: center;
	font-family: monospace;
	display: none;
}
#footer1 h1{
		text-align: center;
		font-family: monospace;
}
#footer1 h4{
	text-align: left;
	margin-top: 10px;
}
#footer2{
	width: 630px;
	height: 410px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	font-family: monospace;
	margin-top: 680px;
	display: none;
	padding-left: 10px;
	background-color: 
}
#footer2 h1{
		text-align: center;
		font-family: monospace;
}
#footer2 h4{
	text-align: left;
	margin-top: 10px;
}
#footer3{
	width: 630px;
	height: 410px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	text-align: center;
	font-family: monospace;
	margin-top: 680px;
	display: none;
}
#footer3 h1{
		text-align: center;
		font-family: monospace;
}
#footer3 h4{
	text-align: left;
	margin-top: 10px;
}
#footer4{
	width: 630px;
	height: 410px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	text-align: center;
	font-family: monospace;
	margin-top: 680px;
	display: none;
}
#footer4 h1{
		text-align: center;
		font-family: monospace;
}
#footer4 h4{
	text-align: left;
	margin-top: 10px;
}
#footer5{
	width: 630px;
	height: 410px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	text-align: center;
	font-family: monospace;
	margin-top: 680px;
	display: none;
}
#footer5 h1{
		text-align: center;
		font-family: monospace;
}
#footer5 h4{
	text-align: left;
	margin-top: 10px;
}



.footer2 input{
	width: 150px;
	height: 60px;
	font-family: monospace;
	text-align: center;
	margin-left: 10px;
	font-size: 30px;
	border-radius: 10px;
	border-width: 2px;
	border-style: groove;
}
#setup1{
	float: left;
	list-style: none;
	position: absolute;
	padding-left: 10px;
}
#season{
	margin-right: 20px;
	float:right;
	position: relative;
}
#tempp{
	height: 60px;
	width: 60px;
}
#humm{
	height: 60px;
	width: 60px;
} 
#sett{
	height: 50px;
	width: 50px;
} 
#settbtn{
	background-color: #FFFF;
	border: none;
}
#classicWindmode{
	height: 120px;
	width: 125px;
}
#natureWinmode{
	height: 120px;
	width: 125px;
}
#naturebtn{
	background-color: #FFFF;
}
#seaWinmode{
	height: 115px;
	width: 125px;
}
#seabtn{
	background-color: #FFFF;
}
#noneWinmode{
	height: 80px;
	width: 80px;
}
#nonebtn{
	background: none;
	border-style: none;
	margin-left: 30px;
	margin-top: 30px;
}

.constainer{
	position: absolute;
	height: 80px;
}
.status3{
	width: 600px;
	height: 100px;
	margin-left: 20px;
}
.toggle-btn{
	width: 180px;
	height: 75px;
	background: #CCCCCC;
	border-radius: 30px;
	padding: 5px;
	transition: all 500ms ease-in-out;
}
.toggle-btn > .inner-circle{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #FF9933;
}
.toggle-btn.active{
	background: #66FFFF;
}

.toggle-btn.active > .inner-circle{
	margin-left: 100px;
}
#bulboffimg1{
	margin-top: 10px;
	width: 100px;
	height: 100px;
	float: right;
	position: relative;
}

#bulbonimg1{
	margin-top: 10px;
	width: 100px;
	height: 100px;
	float: right;
	display: none;
	position: relative;
}
#bulboffimg2{
	margin-top: 10px;
	width: 100px;
	height: 100px;
	float: right;
	position: relative;
}

#bulbonimg2{
	margin-top: 10px;
	width: 100px;
	height: 100px;
	float: right;
	display: none;
	position: relative;
}
#bulboffimg3{
	margin-top: 10px;
	width: 100px;
	height: 100px;
	float: right;
	position: relative;
}

#bulbonimg3{
	margin-top: 10px;
	width: 100px;
	height: 100px;
	float: right;
	display: none;
	position: relative;
}









.doorctrl{
	width: 200px;
	margin-left: 20px;
	font-family: monospace;
	float: left;
}

.statusdoor{
	width: 280px;
	float: right;
	margin-left: 20px;
	text-align: center;
}
.statusdoor>h4{
	text-align: center;
}

#unlockbtn1{
	background: none;
	border-style: none;
	float: left;
}
#unlock1{
	width: 60px;
	height: 60px;
}

#lockbtn1{
	background: none;
	border-style: none;
	float: right;
	margin-left: 5px;
}
#lock1{
	width: 60px;
	height: 60px;
}
#unlockbtn2{
	background: none;
	border-style: none;
	float: left;
}
#unlock2{
	width: 60px;
	height: 60px;
}

#lockbtn2{
	background: none;
	border-style: none;
	float: right;
	margin-left: 5px;
}
#lock2{
	width: 60px;
	height: 60px;
}

#unlockbtn3{
	background: none;
	border-style: none;
	float: left;
}
#unlock3{
	width: 60px;
	height: 60px;
}

#lockbtn3{
	background: none;
	border-style: none;
	float: right;
	margin-left: 5px;
}
#lock3{
	width: 60px;
	height: 60px;
}
#gateclosestatus{
	width: 120px;
	height: 90px;
	float: left;
	position: relative;
}
#gateopenstatus{
	width: 120px;
	height: 90px;
	float: left;
	display: none;
	position: relative;
}
#clearf{
	clear: both;
}
#doorclosestatus{
	width: 100px;
	height: 90px;
	float: left;
	position: relative;
}
#dooropenstatus{
	width: 100px;
	height: 90px;
	float: left;
	display: none;
	position: relative;
}

#clearf{
	clear: both;
}
#windowclosestatus{
	width: 100px;
	height: 90px;
	float: left;
	position: relative;
}
#windowopenstatus{
	margin-top: 5px;
	width: 100px;
	height: 99px;
	float: left;
	display: none;
	position: relative;
}
*:focus {
    outline: 0 !important;
}
